@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    /* color: #8fbcff; */
}
@theme {
    --color-primary: #0d0d54;
    --color-light: #48e;
    --color-prueba: ;
}
.text-outline-blue {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-light);
}
