@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    /* color: #8fbcff; */
}
html {
    overflow-y: scroll;
}
@theme {
    --color-primary: #023c72;
    --color-light: #1b78bd;

    --breakpoint-xs: 370px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}
.text-outline-blue {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primary);
}
