<div class="bg-gray-800 w-screen py-2 text-center">
  <h6 class="text-gray-400">
    Copyright © 2025 Tempus Funcional Fitness Todos los Derechos Reservados. Creado por <a
      class="text-purple-300"
      href="https://www.altarialights.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      Altaria Lights
    </a> | <a href="/politica">Política de privacidad</a> | <a href="/avisolegal">Aviso legal</a>.
  </h6>
</div>
