<section class="bg-[#F5F9FC] min-h-screen flex items-center justify-center relative">
  <div
    class="bg-[#E8F0F8] w-[80%] max-w-6xl mx-auto rounded-3xl shadow-2xl backdrop-blur-sm z-10 p-8 flex items-center justify-center relative"
  >
    <div class="w-full h-full flex flex-col items-center justify-center relative text-center">
      <h2 class="text-4xl font-extrabold text-primary mb-10 uppercase">CLASES</h2>

      <div class="grid grid-cols-4 gap-6 relative w-full max-w-4xl place-items-center">
        <div class="relative h-56 md:h-64 rounded-xl overflow-hidden col-span-2 w-full">
          <img src="DSC02090.JPEG" alt="Tempus Functional" class="w-full h-full object-cover" />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Funcional
          </p>
        </div>

        <div class="relative h-56 md:h-64 rounded-xl overflow-hidden col-span-2 w-full">
          <img src="DSC04747.JPEG" alt="Tempus Hybrid" class="w-full h-full object-cover" />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Hybrid
          </p>
        </div>

        <div class="relative h-64 md:h-72 rounded-xl overflow-hidden col-span-4 w-full">
          <img src="DSC02598.JPG" alt="Tempus Stretching" class="w-full h-full object-cover" />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Stretching
          </p>
        </div>

        <div
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-32 h-32 bg-white rounded-full z-10"
        >
        </div>

        <div
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-24 h-24 bg-light rounded-full
          flex items-center justify-center cursor-pointer shadow-xl ring-primary z-20"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="56"
            height="56"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#ffffff"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M2 12h1"></path>
            <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2"></path>
            <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
            ></path>
            <path d="M9 12h6"></path>
            <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
            ></path>
            <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2"></path>
            <path d="M22 12h-1"></path>
          </svg>
        </div>
      </div>

      <div
        class="absolute bottom-[-1rem] right-[-1rem] text-white font-bold text-base sm:text-xl py-3 pr-8 pl-16 bg-blue-500 [clip-path:polygon(10%_0,100%_0,100%_100%,0%_100%)] z-10"
      >
        Tempus
      </div>
    </div>
  </div>
</section>
