<section class="bg-[#F5F9FC] flex items-center justify-center relative py-10">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-[#E8F0F8] py-15 rounded-2xl shadow-lg w-full"
  >
    <div class="w-full h-full flex flex-col items-center justify-center relative text-center">
      <h4
        class="text-3xl sm:text-5xl lg:text-5xl font-extrabold text-primary lg:ml-10 lg:mr-10 w-full text-center mb-4 max-w-[1000px] self-center"
      >
        NUESTRAS CLASES
      </h4>
      <p
        class="text-base md:text-lg lg:text-2xl text-light mb-6 mt-8 md:w-3/4 lg:ml-10 lg:mr-10 w-full max-w-[1000px] self-center"
      >
        En Tempus Funcional Fitness encontrarás tres programas diseñados para todos los niveles.
        Cada clase dura 60 minutos y está guiada de principio a fin por un entrenador profesional.
      </p>

      <div
        class="grid grid-cols-4 gap-6 relative w-full max-w-4xl items-stretch justify-items-center"
      >
        <div
          onclick="window.location.href='/our-classes'"
          class="relative h-56 md:h-64 rounded-xl overflow-hidden col-span-2 w-full cursor-pointer"
        >
          <img
            src="functional.png"
            alt="Tempus Funcional"
            class="w-full h-full object-cover object-top"
          />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Funcional
          </p>
        </div>

        <div
          onclick="window.location.href='/our-classes'"
          class="relative h-56 md:h-64 rounded-xl overflow-hidden col-span-2 w-full cursor-pointer"
        >
          <img src="hybrid.png" alt="Tempus Hybrid" class="w-full h-full object-cover object-top" />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Hybrid
          </p>
        </div>

        <div
          onclick="window.location.href='/our-classes'"
          class="relative h-64 md:h-72 rounded-xl overflow-hidden col-span-4 w-full cursor-pointer"
        >
          <img
            src="stretch.png"
            alt="Tempus Stretching"
            class="h-full w-full object-cover object-bottom-left"
          />
          <p
            class="absolute bottom-0 w-full p-3 text-center text-white font-bold text-lg bg-black/40"
          >
            Tempus Stretching
          </p>
        </div>

        <div
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-32 h-32 bg-white rounded-full z-10"
        >
        </div>

        <div
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-24 h-24 bg-light rounded-full
          flex items-center justify-center cursor-pointer shadow-xl ring-primary z-20"
          onclick="window.location.href='/our-classes'"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="56"
            height="56"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#ffffff"
            stroke-width="1.25"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M2 12h1"></path>
            <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2"></path>
            <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
            ></path>
            <path d="M9 12h6"></path>
            <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"
            ></path>
            <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2"></path>
            <path d="M22 12h-1"></path>
          </svg>
        </div>
      </div>

      <div
        class="absolute bottom-[-2.5rem] right-[-1rem] text-white font-bold text-base sm:text-xl py-3 pr-8 pl-16 bg-blue-500 [clip-path:polygon(10%_0,100%_0,100%_100%,0%_100%)] z-10"
      >
        Tempus
      </div>
    </div>
  </div>
</section>
