---

---

<header class="flex items-center w-full justify-between">
    <img class="md:w-32 w-24" src="./logo.png" alt="" />
    <nav>
    <ul class="hidden sm:flex gap-8 font-medium text-primary text-lg lg:text-2xl">
      <li><a class="text-nowrap"  href="/">Inicio</a></li>
      <li><a class="text-nowrap" href="/about">Sobre Nosotros</a></li>
      <li><a class="text-nowrap" href="#">Cómo Entrenamos</a></li>
      <li><a class="text-nowrap" href="#">Instalaciones</a></li>
      <li><a class="text-nowrap" href="#">Contacto</a></li>
    </ul>
    </nav>

  <svg
    class="sm:hidden"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    fill="none"
    stroke="#000000"
    stroke-width="1"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M10 6h10"></path>
    <path d="M4 12h16"></path>
    <path d="M7 12h13"></path>
    <path d="M4 18h10"></path>
  </svg>
</header>
