<section class="py-20 bg-[#F5F9FC]">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h4
      class="text-3xl sm:text-5xl lg:text-5xl font-extrabold text-primary text-center mb-8 leading-tight"
    >
      NUESTROS VALORES
    </h4>

    <div class="grid grid-cols-1 ml-4 mr-4 md:m-0 gap-10 md:grid-cols-2 lg:grid-cols-4">
      <div
        class="flex flex-col items-start p-8 rounded-xl bg-[#E8F0F8] border-2 border-[#D2E4FA] hover:border-primary transition duration-300 transform hover:-translate-y-1 shadow-lg"
      >
        <div class="text-4xl text-primary font-extrabold mb-4">01.</div>
        <h3 class="text-xl font-bold text-light mb-3 uppercase tracking-wider">COMPROMISO</h3>
        <p class="text-gray-700 text-base">
          Nos implicamos al máximo con cada cliente, adaptándonos a sus necesidades y objetivos para
          ofrecer un servicio personalizado y efectivo.
        </p>
      </div>

      <div
        class="flex flex-col items-start p-8 rounded-xl bg-[#E8F0F8] border-2 border-[#D2E4FA] hover:border-primary transition duration-300 transform hover:-translate-y-1 shadow-lg"
      >
        <div class="text-4xl text-primary font-extrabold mb-4">02.</div>
        <h3 class="text-xl font-bold text-light mb-3 uppercase tracking-wider">INTEGRIDAD</h3>
        <p class="text-gray-700 text-base">
          Actuamos con honestidad y respeto en cada decisión y acción, construyendo relaciones de
          confianza con nuestros clientes y colaboradores.
        </p>
      </div>

      <div
        class="flex flex-col items-start p-8 rounded-xl bg-[#E8F0F8] border-2 border-[#D2E4FA] hover:border-primary transition duration-300 transform hover:-translate-y-1 shadow-lg"
      >
        <div class="text-4xl text-primary font-extrabold mb-4">03.</div>
        <h4 class="text-xl font-bold text-light mb-3 uppercase tracking-wider">EXCELENCIA</h4>
        <p class="text-gray-700 text-base">
          Buscamos siempre la máxima calidad en cada detalle de nuestro servicio, desde la atención
          al cliente hasta la ejecución de los entrenamientos.
        </p>
      </div>

      <div
        class="flex flex-col items-start p-8 rounded-xl bg-[#E8F0F8] border-2 border-[#D2E4FA] hover:border-primary transition duration-300 transform hover:-translate-y-1 shadow-lg"
      >
        <div class="text-4xl text-primary font-extrabold mb-4">04.</div>
        <h4 class="text-xl font-bold text-light mb-3 uppercase tracking-wider">INNOVACIÓN</h4>
        <p class="text-gray-700 text-base">
          adaptamos y lideramos nuevas tendencias en entrenamiento y bienestar, ofreciendo siempre
          las mejores soluciones a nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-20 bg-[#F5F9FC]">
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-[#E8F0F8] py-15 rounded-2xl shadow-lg flex flex-col justify-center"
  >
    <h4
      class="text-3xl sm:text-5xl lg:text-5xl font-extrabold text-primary lg:ml-10 lg:mr-10 w-full text-center mb-4 self-center"
    >
      NUESTRA VISIÓN
    </h4>

    <p
      class="text-base text-center md:text-lg lg:text-2xl text-light mb-6 mt-8 lg:ml-10 lg:mr-10 w-full self-center italic"
    >
      "Ser el hogar del fitness y el bienestar de referencia en Toledo y en toda la provincia,
      consolidando nuestra metodología y ampliando el impacto de Tempus en nuevas ciudades."
    </p>
  </div>
</section>
