<section
  class="grid mb-8 border border-gray-200 rounded-lg shadow-xs dark:border-gray-700 md:mb-12 md:grid-cols-2 bg-white dark:bg-gray-800 mt-5 sm:mt-15"
>
  <!-- Opinión 1 -->
  <figure
    class="relative flex flex-col justify-between p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:border-e dark:bg-gray-800 dark:border-gray-700"
  >
    <!-- Estrellas fijas -->
    <div class="absolute top-6 left-1/2 -translate-x-1/2">
      <p class="text-lg font-semibold text-yellow-400">⭐⭐⭐⭐⭐</p>
    </div>

    <blockquote class="max-w-2xl mx-auto mt-12 mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <p>
        "Muy contenta en crossfit tempus!! Llevaba tiempo sin hacer deporte y no estaba segura de si
        me iba a gustar. Pero me ha enganchado! Las clases son muy amenas y te indican cómo hacer
        para ajustarlas a tu nivel. Miguel es muy atento, dedica tiempo a enseñar la técnica y a
        corregirte para evitar lesiones y aprovechar el entrenamiento. El ambiente es muy bueno. Muy
        recomendable!!!"
      </p>
    </blockquote>

    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-9 h-9" src="perfil.avif" alt="profile picture" />
      <div class="ms-3 text-left font-medium dark:text-white">
        <div>Carolina Lanchares</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">2023-11-26</div>
      </div>
    </figcaption>
  </figure>

  <!-- Opinión 2 -->
  <figure
    class="relative flex flex-col justify-between p-8 text-center bg-white border-b border-gray-200 md:border-e dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="absolute top-6 left-1/2 -translate-x-1/2">
      <p class="text-lg font-semibold text-yellow-400">⭐⭐⭐⭐⭐</p>
    </div>

    <blockquote class="max-w-2xl mx-auto mt-12 mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <p>"Mi primer día y una pasada"</p>
    </blockquote>

    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-9 h-9" src="perfil.avif" alt="profile picture" />
      <div class="ms-3 text-left font-medium dark:text-white">
        <div>Pedro García Ávila</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">2023-11-19</div>
      </div>
    </figcaption>
  </figure>

  <!-- Opinión 3 -->
  <figure
    class="relative flex flex-col justify-between p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:border-e dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="absolute top-6 left-1/2 -translate-x-1/2">
      <p class="text-lg font-semibold text-yellow-400">⭐⭐⭐⭐⭐</p>
    </div>

    <blockquote class="max-w-2xl mx-auto mt-12 mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <p>
        "Es mi tercera semana… nunca había practicado Crossfit y estoy encantada. Las instalaciones
        en Tempus son nuevas, los dueños súper atentos… las personas que imparten las clases te
        ayudan mucho con la técnica para realizar bien los ejercicios y evitar lesiones. El ambiente
        en general es muy bueno. Desde luego la mejor alternativa que he encontrado para realizar
        deporte de manera efectiva y motivadora. ¡Si estás cansado del gym te lo recomiendo
        totalmente!"
      </p>
    </blockquote>

    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-9 h-9" src="perfil.avif" alt="profile picture" />
      <div class="ms-3 text-left font-medium dark:text-white">
        <div>María Muñoz Conesa</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">2023-11-14</div>
      </div>
    </figcaption>
  </figure>

  <!-- Opinión 4 -->
  <figure
    class="relative flex flex-col justify-between p-8 text-center bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="absolute top-6 left-1/2 -translate-x-1/2">
      <p class="text-lg font-semibold text-yellow-400">⭐⭐⭐⭐⭐</p>
    </div>

    <blockquote class="max-w-2xl mx-auto mt-12 mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
      <p>
        "Instalaciones full equip! Trato inmejorable! Te enseñan y corrigen con paciencia,
        centrándose mucho en la técnica para evitar malos hábitos y lesiones. Ambiente distendido y
        súper agradable. ¡100% recomendable!"
      </p>
    </blockquote>

    <figcaption class="flex items-center justify-center">
      <img class="rounded-full w-9 h-9" src="perfil.avif" alt="profile picture" />
      <div class="ms-3 text-left font-medium dark:text-white">
        <div>Elena M-T H</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">2023-11-14</div>
      </div>
    </figcaption>
  </figure>
</section>
