<section class=" py-20 bg-[#F5F9FC] mb-5 sm:mb-15">
    
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 bg-[#E8F0F8] py-15 rounded-2xl shadow-lg">
    <h4 class="bg-[#D2E4FA] text-blue-800 font-semibold px-10 py-1 rounded mb-6 lg:ml-10 lg:mr-10 w-full max-w-[1000px] self-center">
      NOS PREOCUPAMOS POR TU SALUD Y BIENESTAR
    </h4>

   <h4 class="text-2xl md:text-5xl font-extrabold text-primary lg:ml-10 lg:mr-10 w-full text-center mb-4 max-w-[1000px] self-center">
  NUESTRA MISIÓN
</h4>

<p class="text-base md:text-lg lg:text-2xl text-light mb-6 mt-8 md:w-3/4 lg:ml-10 lg:mr-10 w-full max-w-[1000px] self-center">
 En Tempus creemos que el entrenamiento no es solo físico, es una
        herramienta para recuperar tu salud, tu confianza y tu bienestar. Nuestra
        misión es ayudarte a salir del sedentarismo con un método seguro, guiado y
        motivador
</p>    
    <img class="rounded-2xl lg:ml-10 lg:mr-10 w-full shadow-lg max-w-[1000px] self-center" src="ourMission.jpg" alt="Nuestro equipo de entrenadores junto a clientes contentos">

  </div>
</section>