---
import '../styles/global.css'
const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "CrossFit Functional Tempus",
        "image": "https://tudominio.com/img/portada.jpg",
        "url": "https://tudominio.com",
        "telephone": "+34 679 62 94 54",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Avenida América 1",
          "addressLocality": "Toledo",
          "postalCode": "45004",
          "addressCountry": "ES"
        },
        "openingHours": "Mo-Fr 07:00-22:00, Sa 09:00-14:00",
        "sameAs": [
          "https://www.instagram.com/crossfittempus",
          "https://www.facebook.com/crossfittempus"
        ],
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "85"
        },
        "faq": [
          {
            "@type": "Question",
            "name": "¿Dónde está CrossFit Tempus?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Nos encontramos en Avenida América 1, 45004 Toledo."
            }
          },
          {
            "@type": "Question",
            "name": "¿Necesito experiencia previa para entrenar?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "No, ofrecemos clases adaptadas a todos los niveles, desde principiantes hasta avanzados."
            }
          },
          {
            "@type": "Question",
            "name": "¿Cómo puedo apuntarme?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Puedes contactarnos por WhatsApp o venir directamente al gimnasio, te esperamos!!"
            }
          }
        ]
      }
    </script>

    <title>{title}</title>
  </head>
  <body class="m-0 p-0 box-border font-['Oswald'] relative overflow-x-hidden flex flex-col gap-10">
    <slot />
  </body>
</html>
